---
import { publicEnv } from '@/lib/config/env';

const target = `/${publicEnv.defaultLocale}`;
---

<html lang={publicEnv.defaultLocale}>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="refresh" content={`0; url=${target}`} />
    <title>Rustrack</title>
  </head>
  <body>
    <a href={target}>Rustrack</a>
  </body>
</html>
